Repository kishore28kumar/pulss: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: add About, Categories, and Contact pages with layout enhancements
  apps/storefront/src/app/about/page.tsx
  apps/storefront/src/app/categories/page.tsx
  apps/storefront/src/app/contact/page.tsx
  apps/storefront/src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

chore: update docker-compose and Dockerfiles for development, adjust API handling, and enhance admin-dashboard and storefront functionality
  apps/admin-dashboard/Dockerfile
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/lib/api.ts
  apps/admin-dashboard/src/lib/auth.ts
  apps/backend/Dockerfile
  apps/backend/src/controllers/authController.ts
  apps/backend/src/controllers/orderController.ts
  apps/storefront/Dockerfile
  apps/storefront/src/lib/api.ts
  docker-compose.yml
  package-lock.json
  packages/database/package.json
  packages/database/prisma/seed.ts
Due: eslint --fix, prettier --write

feat: enhance authentication and user experience across storefront pages, implement protected routes, and update token handling in API
  apps/backend/src/middleware/authMiddleware.ts
  apps/storefront/src/app/about/page.tsx
  apps/storefront/src/app/account/page.tsx
  apps/storefront/src/app/categories/page.tsx
  apps/storefront/src/app/contact/page.tsx
  apps/storefront/src/app/login/page.tsx
  apps/storefront/src/app/page.tsx
  apps/storefront/src/app/products/page.tsx
  apps/storefront/src/components/auth/ProtectedRoute.tsx
  apps/storefront/src/components/layout/Header.tsx
  apps/storefront/src/components/providers/Providers.tsx
  apps/storefront/src/contexts/AuthContext.tsx
  apps/storefront/src/lib/api.ts
  apps/storefront/src/lib/auth.ts
  reset-pwd.js
Due: eslint --fix, prettier --write

feat: integrate wishlist functionality in Header and ProductCard components, update image domains in next.config.js
  apps/storefront/next.config.js
  apps/storefront/src/app/cart/page.tsx
  apps/storefront/src/app/wishlist-test/page.tsx
  apps/storefront/src/app/wishlist/page.tsx
  apps/storefront/src/components/layout/Header.tsx
  apps/storefront/src/components/products/ProductCard.tsx
  apps/storefront/src/hooks/useCart.ts
  apps/storefront/src/hooks/useWishlist.ts
Due: eslint --fix, prettier --write

feat: add startup and shutdown scripts, enhance docker-compose configuration, and update Prisma database migration setup
  apps/storefront/next.config.js
  apps/storefront/package.json
  docker-compose.yml
  package.json
  packages/database/prisma/migrations/20251105051743_pulss/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  start.sh
  stop.sh
Due: eslint --fix, prettier --write

feat: update product retrieval to support fetching by ID or slug and add new ProductDetailPage component for enhanced product display
  apps/backend/src/controllers/productController.ts
  apps/storefront/src/app/products/[slug]/page.tsx
Due: eslint --fix, prettier --write

feat: implement customer management features including customer listing, details modal, and notifications settings in the admin dashboard
  apps/admin-dashboard/src/app/dashboard/categories/CategoryModal.tsx
  apps/admin-dashboard/src/app/dashboard/categories/page.tsx
  apps/admin-dashboard/src/app/dashboard/customers/CustomerDetailsModal.tsx
  apps/admin-dashboard/src/app/dashboard/customers/page.tsx
  apps/admin-dashboard/src/app/dashboard/orders/OrderDetailsModal.tsx
  apps/admin-dashboard/src/app/dashboard/orders/OrderFilters.tsx
  apps/admin-dashboard/src/app/dashboard/orders/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/AppearanceTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/NotificationsTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/StoreInfoTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
  apps/admin-dashboard/src/components/dashboard/Header.tsx
  apps/backend/src/controllers/customerController.ts
  apps/backend/src/routes/customerRoutes.ts
  apps/backend/src/routes/index.ts
  packages/database/prisma/seed.ts
Due: eslint --fix, prettier --write

feat: add QUICKSTART.md for streamlined setup instructions and update README.md to reference the new guide
  QUICKSTART.md
  README.md
Due: prettier --write

chore: update Dockerfiles for admin-dashboard, backend, and storefront to copy entire monorepo structure, maintain local package references, and generate Prisma client
  DEPLOYMENT.md
  DEPLOYMENT_FIXES.md
  apps/admin-dashboard/Dockerfile
  apps/backend/Dockerfile
  apps/storefront/Dockerfile
  render.yaml
Due: prettier --write

fix: resolve deployment issues by updating Dockerfiles to include shared packages, adding TypeScript build configurations, and ensuring proper module resolution for production
  CHANGES_SUMMARY.md
  DEPLOYMENT_FIXES.md
  apps/admin-dashboard/Dockerfile
  apps/backend/Dockerfile
  apps/storefront/Dockerfile
  packages/database/.gitignore
  packages/database/package.json
  packages/database/tsconfig.json
  packages/types/.gitignore
  packages/types/package.json
  packages/types/tsconfig.json
Due: prettier --write

feat: add frontend deployment guide and update API URLs for production in admin-dashboard and storefront
  DEPLOY_FRONTEND.md
  apps/admin-dashboard/next.config.js
  apps/admin-dashboard/src/lib/api.ts
  apps/storefront/next.config.js
  apps/storefront/src/app/cart/page.tsx
  apps/storefront/src/lib/api.ts
Due: eslint --fix, prettier --write

refactor: remove unused router import in ProductDetailContent component for cleaner code
  apps/storefront/src/app/products/[slug]/page.tsx
Due: eslint --fix, prettier --write

refactor: remove unused Trash2 import from wishlist page for cleaner code
  apps/storefront/src/app/wishlist/page.tsx
Due: eslint --fix, prettier --write

refactor: remove unused Star import from wishlist page for cleaner code
  apps/storefront/src/app/wishlist/page.tsx
Due: eslint --fix, prettier --write

chore: add .gitkeep files to public directories in admin-dashboard and storefront to ensure proper tracking by git and Docker
  apps/admin-dashboard/public/.gitkeep
  apps/storefront/public/.gitkeep
Due: none

feat: enhance backend startup process by adding migration and seeding scripts to package.json
  apps/backend/package.json
Due: prettier --write

chore: update backend startup scripts in package.json to streamline database setup process
  apps/backend/package.json
Due: prettier --write

chore: add prisma seed configuration to package.json for improved database seeding process
  packages/database/package.json
Due: prettier --write

chore: update storefront URL configuration to allow for an additional frontend URL option
  apps/backend/src/server.ts
Due: eslint --fix, prettier --write

refactor: remove unused useState import from CategoryModal for cleaner code
  apps/admin-dashboard/src/app/dashboard/categories/CategoryModal.tsx
Due: eslint --fix, prettier --write

refactor: remove unused ImageIcon import from categories page for cleaner code
  apps/admin-dashboard/src/app/dashboard/categories/page.tsx
Due: eslint --fix, prettier --write

refactor: remove unused MoreVertical import from categories page for cleaner code
  apps/admin-dashboard/src/app/dashboard/categories/page.tsx
Due: eslint --fix, prettier --write

refactor: remove unused formatDateTime import from CustomerDetailsModal for cleaner code
  apps/admin-dashboard/src/app/dashboard/customers/CustomerDetailsModal.tsx
Due: eslint --fix, prettier --write

refactor: remove unused imports from dashboard pages for cleaner code
  apps/admin-dashboard/src/app/dashboard/customers/page.tsx
  apps/admin-dashboard/src/app/dashboard/orders/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
Due: eslint --fix, prettier --write

refactor: remove unused MapPin import from dashboard customers page for cleaner code
  apps/admin-dashboard/src/app/dashboard/customers/page.tsx
Due: eslint --fix, prettier --write

refactor: remove unused useState import from StoreInfoTab for cleaner code
  apps/admin-dashboard/src/app/dashboard/settings/StoreInfoTab.tsx
Due: eslint --fix, prettier --write

refactor: remove unused Save import from dashboard settings page for cleaner code
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
Due: eslint --fix, prettier --write

refactor: enhance storefront UI and functionality with improved styles, new cart drawer, and filter drawer components
  apps/storefront/src/app/account/page.tsx
  apps/storefront/src/app/cart/page.tsx
  apps/storefront/src/app/globals.css
  apps/storefront/src/app/page.tsx
  apps/storefront/src/app/products/[slug]/page.tsx
  apps/storefront/src/app/products/page.tsx
  apps/storefront/src/components/cart/CartDrawer.tsx
  apps/storefront/src/components/layout/Header.tsx
  apps/storefront/src/components/products/FilterDrawer.tsx
  apps/storefront/src/components/products/ProductCard.tsx
  apps/storefront/src/hooks/useDebounce.ts
  apps/storefront/src/hooks/useSearchSuggestions.ts
  apps/storefront/src/stores/cartStore.ts
Due: eslint --fix, prettier --write, stylelint --fix

Notes added by 'git notes add'
  34c55f5c22e537b5cf12114b525d43350052f520
Due: none

refactor: remove unused X import from Header component for cleaner code
  apps/storefront/src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8ab91ef53615b5b0a230a5bafd54612d49a6fe0e
Due: none

feat: implement permission management across dashboard components and routes for enhanced security
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/admin-dashboard/src/app/dashboard/categories/page.tsx
  apps/admin-dashboard/src/app/dashboard/orders/page.tsx
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/components/dashboard/Header.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
  apps/admin-dashboard/src/components/permissions/PermissionGuard.tsx
  apps/admin-dashboard/src/components/permissions/RoleBadge.tsx
  apps/admin-dashboard/src/lib/permissions.ts
  apps/backend/src/controllers/analyticsController.ts
  apps/backend/src/controllers/productController.ts
  apps/backend/src/controllers/reportController.ts
  apps/backend/src/controllers/staffController.ts
  apps/backend/src/controllers/tenantController.ts
  apps/backend/src/middleware/authMiddleware.ts
  apps/backend/src/middleware/permissionMiddleware.ts
  apps/backend/src/middleware/tenantMiddleware.ts
  apps/backend/src/routes/analyticsRoutes.ts
  apps/backend/src/routes/categoryRoutes.ts
  apps/backend/src/routes/customerRoutes.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/orderRoutes.ts
  apps/backend/src/routes/productRoutes.ts
  apps/backend/src/routes/reportRoutes.ts
  apps/backend/src/routes/staffRoutes.ts
  apps/backend/src/routes/tenantRoutes.ts
  apps/storefront/src/app/products/[slug]/page.tsx
  apps/storefront/src/components/layout/Header.tsx
  apps/storefront/src/components/products/ProductCard.tsx
  apps/storefront/src/hooks/useWishlist.ts
  packages/database/prisma/seed.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  fd0bccb7e20ce480ff558b0b74658eb4b6eb2ed6
Due: none

Notes added by 'git notes add'
  477471b01dd6e9b3fd9cd858e36012dede12cda0
Due: none

feat: enhance user role management and permissions in dashboard components for improved security and user experience
  apps/admin-dashboard/src/app/dashboard/customers/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
  apps/admin-dashboard/src/lib/api.ts
Due: eslint --fix, prettier --write

feat: add new product creation page and update stock quantity display in products page for improved inventory management
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/TenantInfoTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2829ff0e4240f08530aeb298344859d3db1935e6
Due: none

Notes added by 'git notes add'
  5e89970437bcc220810668825277fd57bde57fb3
Due: none

feat: implement product detail, edit, and bulk import features in the dashboard for enhanced inventory management
  apps/admin-dashboard/src/app/dashboard/products/[id]/edit/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/[id]/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/preview/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})) or (any of: *.css)
  stylelint --fix: any of: *.css
