Repository kishore28kumar/pulss: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"]
}

feat: improve Header component layout with responsive design adjustments for mobile and desktop views, enhancing visibility of tenant information
  apps/storefront/src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

feat: implement password reset functionality for customers, including validation, token generation, and UI updates for forgot and reset password pages
  apps/backend/src/controllers/authController.ts
  apps/backend/src/routes/authRoutes.ts
  apps/backend/src/utils/password.ts
  apps/storefront/src/app/[store-name]/forgot-password/page.tsx
  apps/storefront/src/app/[store-name]/layout.tsx
  apps/storefront/src/app/[store-name]/login/page.tsx
  apps/storefront/src/app/[store-name]/reset-password/page.tsx
  apps/storefront/src/lib/auth.ts
  apps/storefront/src/lib/utils.ts
Due: eslint --fix, prettier --write

feat: enhance orders management for SUPER_ADMIN with tenant selection, improved API calls, and return policy formatting updates
  apps/admin-dashboard/src/app/dashboard/orders/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/EditTenantModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
  apps/storefront/src/app/[store-name]/returns/page.tsx
  apps/storefront/src/components/returns/FormattedReturnPolicy.tsx
Due: eslint --fix, prettier --write

feat: implement content management for tenant pages, including shipping, privacy, terms, about, contact, and FAQ sections with formatted display components
  apps/admin-dashboard/src/app/dashboard/settings/ContentPagesTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
  apps/admin-dashboard/src/components/content/FormattedContent.tsx
  apps/admin-dashboard/src/components/content/FormattedFAQ.tsx
  apps/backend/src/controllers/tenantController.ts
  apps/backend/tsconfig.tsbuildinfo
  apps/storefront/src/app/[store-name]/about/page.tsx
  apps/storefront/src/app/[store-name]/contact/page.tsx
  apps/storefront/src/app/[store-name]/faq/page.tsx
  apps/storefront/src/app/[store-name]/privacy/page.tsx
  apps/storefront/src/app/[store-name]/shipping/page.tsx
  apps/storefront/src/app/[store-name]/terms/page.tsx
  apps/storefront/src/components/content/FormattedContent.tsx
  apps/storefront/src/components/content/FormattedFAQ.tsx
  apps/storefront/src/contexts/TenantContext.tsx
  packages/database/prisma/schema.prisma
  packages/types/index.ts
Due: eslint --fix, prettier --write

feat: implement phone number validation across user registration and profile management, ensuring exactly 10 digits are required for consistency and improved user experience
  apps/admin-dashboard/src/app/dashboard/staff/edit/[id]/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/backend/src/controllers/authController.ts
  apps/storefront/src/app/[store-name]/account/page.tsx
  apps/storefront/src/app/[store-name]/checkout/page.tsx
  apps/storefront/src/app/[store-name]/forgot-password/page.tsx
  apps/storefront/src/app/[store-name]/login/page.tsx
  apps/storefront/src/lib/auth.ts
  packages/types/index.ts
Due: eslint --fix, prettier --write

refactor: remove low stock threshold from product model and related components, streamlining inventory management and UI
  apps/admin-dashboard/prisma/schema.prisma
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/[id]/edit/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/[id]/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/preview/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/BulkUploadSection.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/preview/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/NotificationsTab.tsx
  apps/backend/prisma/schema.prisma
  apps/backend/src/controllers/productController.ts
  apps/storefront/prisma/schema.prisma
  packages/database/prisma/schema.prisma
  packages/types/index.ts
Due: eslint --fix, prettier --write

feat: implement default content for tenant pages including about, FAQ, privacy, shipping, and terms, ensuring consistent user experience when specific content is unavailable
  apps/storefront/src/app/[store-name]/about/page.tsx
  apps/storefront/src/app/[store-name]/faq/page.tsx
  apps/storefront/src/app/[store-name]/privacy/page.tsx
  apps/storefront/src/app/[store-name]/shipping/page.tsx
  apps/storefront/src/app/[store-name]/terms/page.tsx
  apps/storefront/src/lib/contentDefaults.ts
Due: eslint --fix, prettier --write

feat: add total delivered orders metric for admin users, enhance analytics export with all tenants and customers details, and update dashboard layout for improved data presentation
  apps/admin-dashboard/src/app/dashboard/analytics/export/page.tsx
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/backend/src/controllers/analyticsController.ts
  apps/backend/src/controllers/analyticsExportController.ts
Due: eslint --fix, prettier --write

fix: update role references in MailPage to reflect Customer Support instead of Super Admin, ensuring accurate messaging context
  apps/admin-dashboard/src/app/dashboard/mail/page.tsx
Due: eslint --fix, prettier --write

refactor: simplify sender display name logic in ChatWidget, consolidating non-customer roles under "Admin" for clarity
  apps/storefront/src/components/chat/ChatWidget.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  58d1ec47e459055f9c7619f24cc2ac4f896fe0ec
Due: none

feat: Update StaffActionsPopover to use hover activation, dynamic positioning, and React Portals.
  apps/admin-dashboard/src/app/dashboard/staff/StaffActionsPopover.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f0c1484721b2877d3d7022bb76ea1609a273772e
Due: none

feat: Conditionally render the sponsored products section only when loading or products are available.
  apps/storefront/src/app/[store-name]/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  9a7fa3aefda71ded9e09680c611c840359a48471
Due: none

feat: implement customer broadcast notifications with a storefront bell component and dedicated backend API.
  apps/admin-dashboard/src/app/dashboard/broadcasts/page.tsx
  apps/backend/src/controllers/broadcastController.ts
  apps/backend/src/controllers/customerBroadcastController.ts
  apps/backend/src/routes/broadcastRoutes.ts
  apps/storefront/package.json
  apps/storefront/src/components/layout/Header.tsx
  apps/storefront/src/components/layout/NotificationBell.tsx
  package-lock.json
  packages/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  9ebb17641a7ddafeb7b5ad3c1e2121d5572e3a9a
Due: none

feat: introduce sponsored banner section to the storefront, update tenant image schema to support banners, and add admin dashboard management for banner requests.
  apps/admin-dashboard/src/app/dashboard/ads/page.tsx
  apps/backend/src/controllers/adController.ts
  apps/storefront/src/app/[store-name]/page.tsx
  apps/storefront/src/components/home/HeroSection.tsx
  apps/storefront/src/components/home/SponsoredSection.tsx
  apps/storefront/src/contexts/TenantContext.tsx
  packages/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d55207531fd002aa0bb60d705ab1a195f44e2e22
Due: none

feat: Implement subscription and feature-based access control by adding tenant subscription fields, a new subscription context, and conditional UI rendering based on feature access.
  apps/admin-dashboard/src/app/dashboard/ads/page.tsx
  apps/admin-dashboard/src/app/dashboard/broadcasts/page.tsx
  apps/admin-dashboard/src/app/dashboard/layout.tsx
  apps/admin-dashboard/src/app/dashboard/staff/ManageAccessModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/StaffActionsPopover.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/contexts/SubscriptionContext.tsx
  apps/backend/src/controllers/authController.ts
  apps/backend/src/controllers/tenantController.ts
  packages/types/index.ts
Due: eslint --fix, prettier --write

refactor: remove unused imports, states, and features, and update form handling across dashboard components.
  apps/admin-dashboard/src/app/dashboard/broadcasts/page.tsx
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/AppearanceTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/ContentPagesTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/NotificationsTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/ManageAccessModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/edit/[id]/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
  apps/admin-dashboard/src/contexts/SubscriptionContext.tsx
  apps/storefront/src/components/returns/FormattedReturnPolicy.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6234df9caa0119c30de96d48e2fab46cf55981e9
Due: none

feat: add import type selection UI to the bulk product import page.
  apps/admin-dashboard/src/app/dashboard/categories/CategoryModal.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  397973b94c12d8438e0f9b76b5a7968929707e15
Due: none

feat: Add product import type selection to bulk import page, introduce `isSponsored` product field, and remove bulk upload section from new product page.
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  111276ee9cc721b923f474af51adee208b273051
Due: none

Notes added by 'git notes add'
  cb783b9935db5e9fefc6591ad4724c6a92698eb2
Due: none

fix: build errors
  apps/admin-dashboard/src/components/content/FormattedContent.tsx
  apps/storefront/package.json
  apps/storefront/src/components/content/FormattedContent.tsx
  package-lock.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d059fddca8a48b851523570e162336e19894220f
Due: none

fix: package
  apps/storefront/package.json
  package-lock.json
Due: prettier --write

fix: lint
  apps/storefront/src/lib/auth.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  74322c7cf012fd474fd79ec6c4644be2f4f28a40
Due: none

Update backend API port from 5000 to 5001 across configurations and comment out the free shipping banner in the header.
  apps/storefront/src/components/layout/Header.tsx
  docker-compose.yml
  start.sh
Due: eslint --fix, prettier --write

rm: multi tenant label
  apps/admin-dashboard/src/app/layout.tsx
  apps/storefront/src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: Introduce customer wallet management, enabling balance adjustments and transaction history viewing in the admin dashboard, supported by new backend routes and permissions.
  apps/admin-dashboard/src/app/dashboard/customers/CustomerDetailsModal.tsx
  apps/admin-dashboard/src/app/dashboard/orders/OrderDetailsModal.tsx
  apps/admin-dashboard/src/app/dashboard/products/[id]/edit/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/backend/src/controllers/orderController.ts
  apps/backend/src/controllers/walletController.ts
  apps/backend/src/middleware/permissionMiddleware.ts
  apps/backend/src/routes/customerRoutes.ts
  packages/database/prisma/schema.prisma
  packages/types/index.ts
Due: eslint --fix, prettier --write

fix: credit orders in admin dashboard
  apps/admin-dashboard/src/app/dashboard/orders/OrderDetailsModal.tsx
  apps/admin-dashboard/tsconfig.tsbuildinfo
  apps/backend/src/controllers/orderController.ts
  apps/backend/src/controllers/walletController.ts
  apps/backend/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write
