Repository kishore28kumar/pulss: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: add EditStaffModal component and integrate it into the staff management page for improved staff member editing functionality
  apps/admin-dashboard/src/app/dashboard/staff/EditStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0e27785024b33cd9f9c3b440e82c95b0fb8c152c
Due: none

feat: add environment-based URL configuration for development and production in admin dashboard and storefront, enhancing API URL management
  apps/admin-dashboard/next.config.js
  apps/admin-dashboard/src/lib/api.ts
  apps/admin-dashboard/src/lib/config/urls.ts
  apps/backend/src/config/urls.ts
  apps/backend/src/server.ts
  apps/storefront/next.config.js
  apps/storefront/src/lib/api.ts
  apps/storefront/src/lib/config/urls.ts
  render-dev.yaml
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3ef14854dcab086ccbe87bfd9fc56ae17346529d
Due: none

Notes added by 'git notes add'
  c37ca75a890a83c4e72dd1f536a16b23b65b3da0
Due: none

feat: update Dockerfile and package.json to include Prisma schema and migration commands for improved database management
  apps/backend/Dockerfile
  apps/backend/package.json
Due: prettier --write

feat: add migration script and update db:migrate command in package.json for improved database migration handling
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/scripts/migrate.sh
Due: prettier --write

Notes added by 'git notes add'
  01a9d3513ae92da8a8fce97bafdab23119897cb7
Due: none

feat: add readOnly prop to settings tabs for improved user experience and conditional rendering of save buttons
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/AppearanceTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/NotificationsTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/StoreInfoTab.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ce03998aa551017f46585a44c67775ab2660ba7e
Due: none

Notes added by 'git notes add'
  bd7f203d0f07824c1cb3197760af57bc7489fa35
Due: none

refactor: remove unused name variable from EditProductPage for cleaner code
  apps/admin-dashboard/src/app/dashboard/products/[id]/edit/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  db4cedaa71a2eb6f0e2f96bdc1de56ac2836aa82
Due: none

refactor: remove unused router import from ProductDetailPage for cleaner code
  apps/admin-dashboard/src/app/dashboard/products/[id]/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a091064d03b5c37133bcc91fce452bfa6db360c7
Due: none

fix: enhance error messages in bulk import preview to include row numbers for better user feedback
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/preview/page.tsx
Due: eslint --fix, prettier --write

fix: remove unnecessary await from API call in bulk import preview for cleaner code execution
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/preview/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  5a1d6ce0e7f33f3c46a1a1349857cc6d84417b66
Due: none

Notes added by 'git notes add'
  66606a9c3ba7ec38912f0e4cc72672b112ea34b8
Due: none

refactor: remove unused import from TenantInfoTab for cleaner code
  apps/admin-dashboard/src/app/dashboard/settings/TenantInfoTab.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a004f56809cffd3db6af3ddc02b2c441d4cfb376
Due: none

refactor: remove unused state and imports from EditStaffModal for cleaner code
  apps/admin-dashboard/src/app/dashboard/staff/EditStaffModal.tsx
Due: eslint --fix, prettier --write

refactor: remove unused import from staff page for cleaner code
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  73777e09ef4ae364c0b28809a5a3ee742255cdd0
Due: none

Notes added by 'git notes add'
  f655045bfae0436967f9b811a77f3605a4993221
Due: none

refactor: streamline API URL retrieval logic and add debug logging for better configuration visibility
  apps/admin-dashboard/src/lib/config/urls.ts
  apps/storefront/src/lib/config/urls.ts
Due: eslint --fix, prettier --write

refactor: update API URL configuration and enhance logging for better debugging and environment variable management
  apps/admin-dashboard/Dockerfile
  apps/admin-dashboard/src/lib/api.ts
  apps/admin-dashboard/src/lib/config/urls.ts
  apps/storefront/Dockerfile
  apps/storefront/src/lib/config/urls.ts
  render-dev.yaml
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  09ba11702d498d7025fe8b11401e885b5d90291e
Due: none

refactor: enhance environment variable verification and logging in Dockerfiles and scripts for improved build reliability
  apps/admin-dashboard/Dockerfile
  apps/admin-dashboard/package.json
  apps/admin-dashboard/scripts/verify-env.sh
  apps/storefront/Dockerfile
  apps/storefront/package.json
  apps/storefront/scripts/verify-env.sh
  apps/storefront/src/lib/api.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  28dd8f8c4a6613ffd1ac5c22425b05da97ed1a8a
Due: none

refactor: improve layout responsiveness and styling across dashboard components for better user experience
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/admin-dashboard/src/app/dashboard/categories/CategoryModal.tsx
  apps/admin-dashboard/src/app/dashboard/categories/page.tsx
  apps/admin-dashboard/src/app/dashboard/customers/CustomerDetailsModal.tsx
  apps/admin-dashboard/src/app/dashboard/customers/page.tsx
  apps/admin-dashboard/src/app/dashboard/layout.tsx
  apps/admin-dashboard/src/app/dashboard/orders/OrderDetailsModal.tsx
  apps/admin-dashboard/src/app/dashboard/orders/OrderFilters.tsx
  apps/admin-dashboard/src/app/dashboard/orders/page.tsx
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/[id]/edit/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/[id]/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/bulk-import/preview/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/AppearanceTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/StoreInfoTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/TenantInfoTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/EditStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/app/login/page.tsx
  apps/admin-dashboard/src/components/dashboard/Header.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  2b9872a876b891ae35df9cb13d1b7f59a9282c34
Due: none

refactor: remove unused import from Header component for cleaner code
  apps/admin-dashboard/src/components/dashboard/Header.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7a46c6a74f01f6552b2f5767775495a1d114f336
Due: none

Notes added by 'git notes add'
  75f688115f4e761c5b34cd51877b4572ce1fa0d2
Due: none

fix: update free shipping threshold in Header component from $50 to ₹200 for accurate promotion
  apps/storefront/src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  19d68d7e63ffb043a2c0f144fe5793e4e530a7e7
Due: none

fix: update currency formatting across the application from USD to INR for consistency in pricing display
  apps/admin-dashboard/src/lib/utils.ts
  apps/storefront/src/app/cart/page.tsx
  apps/storefront/src/app/page.tsx
  apps/storefront/src/app/products/[slug]/page.tsx
  apps/storefront/src/app/wishlist-test/page.tsx
  apps/storefront/src/app/wishlist/page.tsx
  apps/storefront/src/lib/utils.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  91ff057b3ad81f533a23f23b1d9466b399dbcca7
Due: none

feat: add HeroSection component to enhance user engagement with personalized messaging and clear CTAs for both authenticated and non-authenticated users
  apps/storefront/src/app/page.tsx
  apps/storefront/src/components/home/HeroSection.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})) or (any of: *.css)
  stylelint --fix: any of: *.css
