Repository kishore28kumar/pulss: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"]
}

refactor: remove unused imports in new product page to streamline code
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  5ce5dd142bc401acaf1178693b7159f6a7ca80ea
Due: none

refactor: remove unused bulk upload state variables in new product page to streamline code
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  dcddcdc7d7a8dca8d3e294a4d1b81516c8e1165a
Due: none

refactor: remove unused user role state and related logic in products and staff pages to streamline code
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6bc7413ed376c78b1e84a1d49e79935945fb0a9f
Due: none

Notes added by 'git notes add'
  ebf6f1166d07763d3e390e141c8c39a2ffdb1100
Due: none

refactor: remove unused imports and enhance health check in server for improved database connection monitoring
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
  apps/backend/src/server.ts
  packages/database/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a71c471dcdb400b93e7de08e233091c15ebcaa0a
Due: none

refactor: update onSuccess callback in InviteStaffModal to use a parameter name for clarity
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
Due: eslint --fix, prettier --write

refactor: update onSuccess callback parameter name for improved clarity
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1f0187e11eaadfe694553edf455dd6f7dd8f0274
Due: none

refactor: wrap NewProductPage and BulkUploadPreviewPage components in Suspense for improved loading state handling
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/preview/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  35ce9b75d107b1c79844a2f2043de1e1914fa772
Due: none

refactor: centralize storefront URL construction logic using getStorefrontUrl for improved maintainability
  apps/admin-dashboard/src/app/dashboard/staff/InviteStaffModal.tsx
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/lib/config/urls.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  32943dee969b3f940749aeb67bae69af05e63ca1
Due: none

feat: add update customer profile functionality with date of birth and gender fields
  apps/backend/src/controllers/authController.ts
  apps/backend/src/routes/authRoutes.ts
  apps/storefront/src/app/[store-name]/account/page.tsx
  apps/storefront/src/lib/auth.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  4180bb4840062e2378e1200ce7437e771357a4e3
Due: none

feat: implement dark mode support and theme toggle functionality in admin dashboard
  apps/admin-dashboard/src/app/dashboard/layout.tsx
  apps/admin-dashboard/src/app/globals.css
  apps/admin-dashboard/src/components/dashboard/Header.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
  apps/admin-dashboard/src/components/providers/Providers.tsx
  apps/admin-dashboard/src/components/theme/ThemeToggle.tsx
  apps/admin-dashboard/src/contexts/ThemeContext.tsx
  apps/admin-dashboard/tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix

Notes added by 'git notes add'
  34692f88d2f0c3a5614d18c453396bfd3c092720
Due: none

feat: add favicon support to admin dashboard and storefront layouts
  apps/admin-dashboard/public/favicon.png
  apps/admin-dashboard/src/app/layout.tsx
  apps/storefront/public/favicon.png
  apps/storefront/src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: implement customer data export functionality for SUPER_ADMIN role in admin dashboard
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/contexts/ThemeContext.tsx
  apps/backend/src/controllers/customerController.ts
  apps/backend/src/routes/customerRoutes.ts
Due: eslint --fix, prettier --write

feat: enhance dark mode support across admin dashboard components for improved accessibility and user experience
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/AppearanceTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/NotificationsTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/StoreInfoTab.tsx
  apps/admin-dashboard/src/app/dashboard/settings/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
Due: eslint --fix, prettier --write

chore: comment out promotional message in Header component for future updates
  apps/storefront/src/components/layout/Header.tsx
Due: eslint --fix, prettier --write

refactor: remove Super Admin check from Sidebar component for cleaner navigation logic
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
Due: eslint --fix, prettier --write

style: enhance input placeholder styling and update class names for better accessibility in login form
  apps/admin-dashboard/src/app/globals.css
  apps/admin-dashboard/src/app/login/page.tsx
  apps/admin-dashboard/src/contexts/ThemeContext.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style: improve dark mode support in EditStaffModal component for enhanced accessibility and visual consistency
  apps/admin-dashboard/src/app/dashboard/staff/EditStaffModal.tsx
Due: eslint --fix, prettier --write

feat: enhance login functionality with improved error handling and URL parameter management
  apps/admin-dashboard/src/app/login/page.tsx
  apps/admin-dashboard/src/lib/api.ts
Due: eslint --fix, prettier --write

feat: reset form fields on mount and enhance input attributes for improved user experience in NewStaffPage
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
Due: eslint --fix, prettier --write

feat: improve loginUser function by refining user retrieval logic and enhancing tenant verification for better security
  apps/backend/src/controllers/authController.ts
Due: eslint --fix, prettier --write

fix: update tenant ID generation logic in inviteStaff function to remove randomness for consistency
  apps/backend/src/controllers/staffController.ts
Due: eslint --fix, prettier --write

feat: improve login page by enforcing dynamic rendering and refining URL parameter handling to prevent SSR issues
  apps/admin-dashboard/src/app/login/page.tsx
Due: eslint --fix, prettier --write

feat: add Super Admin analytics features including global top searches, top search locations, and tenant performance metrics with appropriate access controls
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
  apps/backend/src/controllers/analyticsController.ts
  apps/backend/src/routes/analyticsRoutes.ts
Due: eslint --fix, prettier --write

feat: add address fields to staff invitation form and backend validation for improved user data collection
  apps/admin-dashboard/src/app/dashboard/staff/new/page.tsx
  apps/backend/src/controllers/analyticsController.ts
  apps/backend/src/controllers/staffController.ts
Due: eslint --fix, prettier --write

feat: implement freeze/unfreeze functionality for tenants with UI updates and filtering options in the admin dashboard
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/backend/src/controllers/tenantController.ts
  apps/backend/src/routes/tenantRoutes.ts
  apps/storefront/src/app/[store-name]/layout.tsx
  apps/storefront/src/components/store/FrozenStoreMessage.tsx
  apps/storefront/src/contexts/TenantContext.tsx
  packages/database/prisma/schema.prisma
Due: eslint --fix, prettier --write

feat: add state and city filtering options for SUPER_ADMIN in staff management, enhancing search capabilities and UI responsiveness
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/backend/src/controllers/staffController.ts
Due: eslint --fix, prettier --write

feat: enhance tenant overview in dashboard with summary statistics, recent signups, and attention alerts for improved admin insights
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/new/page.tsx
  apps/admin-dashboard/src/app/dashboard/products/page.tsx
Due: eslint --fix, prettier --write

feat: update Header and Sidebar components to enhance user role display and navigation path matching for improved admin experience
  apps/admin-dashboard/src/components/dashboard/Header.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: implement temporary login token generation and verification for SUPER_ADMIN, enhancing admin access management
  apps/admin-dashboard/src/app/dashboard/staff/page.tsx
  apps/admin-dashboard/src/app/login/page.tsx
  apps/backend/src/controllers/authController.ts
  apps/backend/src/routes/authRoutes.ts
Due: eslint --fix, prettier --write

feat: implement custom date range selection in dashboard and analytics pages, enhancing data filtering capabilities for improved insights
  apps/admin-dashboard/src/app/dashboard/analytics/page.tsx
  apps/admin-dashboard/src/app/dashboard/categories/page.tsx
  apps/admin-dashboard/src/app/dashboard/customers/page.tsx
  apps/admin-dashboard/src/app/dashboard/orders/page.tsx
  apps/admin-dashboard/src/app/dashboard/page.tsx
  apps/admin-dashboard/src/app/dashboard/settings/TenantInfoTab.tsx
  apps/admin-dashboard/src/components/dashboard/Sidebar.tsx
  apps/backend/src/controllers/analyticsController.ts
  apps/backend/src/controllers/customerController.ts
Due: eslint --fix, prettier --write
